<div ng-controller="myAppController">
	<div>
		<div>
			<h2>New Question</h2>
		</div>
	</div>
	<hr />
	<div>
		<div>
			<label>Question*</label>
		</div>
		<div>
			<textarea class="form-control" rows="3" ng-model="newQuestion.question" placeholder="What is your question?"></textarea>
		</div>
	</div>
	<div>
		<div>
			<label>Description (optional)</label>
		</div>
		<div>
			<textarea class="form-control" rows="3" ng-model="newQuestion.description" placeholder="Tell us more relating to the question"></textarea>
		</div>
	</div>
	<div>
		<div ng-show="isError">
			<ul class="error">
				<li ng-repeat="error in errors" ng-bind="error.error"></li>
			<ul>
		</div>
	</div>
	<div>
		<div>
			<a href="#"><button class="btn btn-danger">Cancel</button></a>
			<button class="btn btn-success" ng-click="createQuestion(newQuestion)">Submit</button>
		</div>
	</div>
</div>